/******
*
*
*/
body,html{
    /*background-color: #5a9afa;*/
    /*font-family: Open Sans;*/
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2a2a2a;
}
.container.solid{ background-color: #e2bd3d; }
a{
    color: #e1a531;
}
a:hover,a:active,a:focus{
    color: #ffcd6b;
}

#site-header,#site-footer{
    background-color: #f1e158;
    color: #91743c;
}
